{{>header}}

 <div class="site-section block-3 site-blocks-2 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form action="/saveOrder/{{num}}" method="post">
					<input type="hidden" name="num" value="{{num}}" />
					<div class="col-md-6">
						<p class="lead mb-1">Order name:</p>
						<input type="text" name="nombre" value="{{nombre}}" required />
						<p></p>
						<p class="elements" >Elements:</p>
						{{#asunto}}
						<p></p>
						<div class="element">
						<div class="form-check-inline">
							<input type="checkbox" class="checkbox" name="checked[]" value="false" id="todo">
							<label for="todo">{{.}}</label>
							<input type="hidden" name="asunto[]" value="{{.}}"/>
							<a class="btn btn-sm btn-secondary" data-target="#deleteElement" id="deteteElement">Delete element</a>
						</div>
						</div>
						{{/asunto}}
						<p></p>
						<input value="New element" class="btn btn-sm btn-secondary" data-target="#newElement" id="newElement" />
						<p></p>					
						<input type='submit' class="btn btn-sm btn-primary" value="Save" />
					</div>
				</form>
				<div class="col-md-6">
					<p></p>
					<a href="/" class="btn btn-sm btn-primary">Back</a>
				</div>
			</div>
		</div>
	</div>
</div>




<script src="/eliminarPedido.js"></script>

{{>footer}}
