<!DOCTYPE html>
<html lang="en">
<head>
<title>OnlineStore</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
<link rel="stylesheet" href="/fonts/icomoon/style.css">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="/css/jquery-ui.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">


<link rel="stylesheet" href="/css/aos.css">


<link rel="stylesheet" href="/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="/checkbox.css">

</head>
<body>

	<div class="site-wrap">
		<header class="site-navbar" role="banner">
			<div class="container">
				<div class="site-navbar-top text-center">
					<div class="site-logo">
						<a href="/" class="js-logo-clone">shopping-list</a>
					</div>
				</div>
			</div>
			<nav class="site-navigation text-center" role="navigation">
				<div class="container">
					<ul class="site-menu js-clone-nav align-items-center">
						<li><a href="/">Home</a></li>
					</ul>
				</div>
			</nav>
		</header>
