{{>header}}

<script src="/eliminarPedido.js"></script>

 <div class="site-section block-3 site-blocks-2 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form action="/editOrder/{{num}}" method="get" id="form-show-order">
					<input type="hidden" name="num" value="{{num}}" />
					<h2 class="text-black">{{nombre}}</h2>
					<input type="hidden" name="nombre" value="{{nombre}}" />
					<div class="show_order" id="show_order">
					
						{{#asunto}}
						<li class="list"  index={{-index}}>{{ . }}</li> 
						<input type="hidden" class="showElements" name="asunto[]" index="{{-index}}" value="{{.}}" />
						{{/asunto}}
						
						{{#checked}}
						<input type="hidden" class="showChecked" name="checked[{{-index}}]" index="{{-index}}" value="{{.}}" /> 
						{{/checked}}
					
					
					</div>
					<p></p>
					<input type='submit' class="btn btn-sm btn-primary"
						value="Edit Order" />
					<p></p>
				</form>
				<button class="btn btn-sm btn-primary" data-toggle="modal"
					data-target="#deleteOrder" id="deteteOrder">Delete order</button>
				<p></p>
				<a href="/" class="btn btn-sm btn-primary">Back</a>
			</div>
		</div>
	</div>
</div>

<div class="site-section"></div>

<!-- Modal -->
<div class="modal fade" id="deleteOrder" role="dialog" tabindex=-1
	aria-labelledby="exampleButtonDeleteORder">
	<div class="modal-dialog modal-dialog-centered" role="document">

		<!-- Modal content-->
		<div class="modal-content" role="document">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteOrder">Delete order</h5>
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-primary"
					data-dismiss="modal">No</button>
				<button type="button" class="btn btn-sm btn-primary"
					id="removeOrderButton" anuncio_id={{num}}>Yes</button>
			</div>
		</div>
	</div>
</div>

{{>footer}}
