{{>header}}

<div class="site-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2 class="text-black">{{anuncio.nombre}}</h2>
				<p class="mb-4">Element: {{anuncio.asunto}}</p>
				<a href="/" class="btn btn-sm btn-primary">Back</a> 
				<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#deleteOrder"
					id="deteteOrder">Delete order</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteOrder" role="dialog" tabindex=-1 aria-labelledby="exampleButtonDeleteORder">
	<div class="modal-dialog modal-dialog-centered" role="document">
	
	    <!-- Modal content-->
			<div class="modal-content" role="document">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteOrder">Delete order</h5>
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-primary"
					data-dismiss="modal">No</button>
				<button type="button" class="btn btn-sm btn-primary" id="removeOrderButton" anuncio_id={{num}}>Yes ajax</button>
			</div>
		</div>
	</div>
</div>
<script src="/eliminarPedido.js"></script>

{{>footer}}
